{{ define "main" }}
<main class="main" id="homepage">
	<section class="intro_section page_mainslider ds">
		<div class="" style="position: relative; max-height: 400px">
			<img src="{{.Params.slider.image}}" alt="clinique psychologie">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-right">
						<div class="slide_description_wrapper">
							<div class="slide_description">
								<div class="intro-layer" data-animation="fadeInLeft">
									<p class="small-text grey"><i class="fa fa-quote-left"></i>{{.Params.slider.quote | markdownify}}<i class="fa fa-quote-right"></i></p>
								</div>
							</div>
							<!-- eof .slide_description -->
						</div>
						<!-- eof .slide_description_wrapper -->
					</div>
					<!-- eof .col-* -->
				</div>
				<!-- eof .row -->
			</div>
			<!-- eof .container -->
		</div>
		<!-- eof flexslider -->
	</section>

	<section id="services" class="ls section_padding_top_50 section_padding_bottom_50">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="section_header with_icon">{{.Params.servicestitle}}</h1>
				</div>
			</div>
			<div class="row columns_padding_0 columns_margin_0 fontsize_16 services-container">
			{{ range $i, $e := where $.Site.Pages "Type" "services" }}
				{{ if $e.Params.resume.titre }}
				<div class="col-md-4 col-sm-6 services {{if eq $i 2 }}clear-sm{{ else if eq $i 3}}clear-lg clear-md{{ end }}">
					<a href="{{ .Permalink }}">
						<div class="with_padding text-center teaser hover_shadow">
							<h4>
								{{ with $e.Params.resume.titre }}
									{{ . }}
								{{ end }}
							</h4>
							<p>
								{{ with $e.Params.resume.court }}
									{{ . }}
								{{ end }}
							</p>
						</div>
					</a>
				</div>
				{{ end }}
			{{ end }}
			</div>
			</div>
		</div>
	</section>

	<section id="about" class="cs page_about section_padding_top_50 columns_margin_bottom_30">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left about-left">
					{{ .Params.aboutleft | markdownify }}
					<div class="with_icon topmargin_30">
						<h5 class="small-text text-uppercase inline-block"><img src="/assets/images/logo-blanc-bleu.png" alt="clinique tandem logo" style="max-width: 300px;"></h5>
					</div>
				</div>
				<div class="col-md-6 text-right specialisations about-right">
					{{ .Params.aboutright | markdownify }}
					<div class="row">
						<div class="col-md-6 col-sm-12 text-left">
							<ul class="specialisations">
								{{ range $i, $e := sort (where $.Site.Pages "Type" "mieuxcomprendre") ".Params.ordre" "asce" }}
									{{ if modBool $i 2}}
									<li>
										<a href="{{$e.Permalink}}">{{$e.Params.titre}}</a>
									</li>
									{{ end }}
								{{ end }}
							</ul>
						</div>
						<div class="col-md-6 col-sm-12 text-left">
							<ul class="specialisations">
								{{ range $i, $e := sort (where $.Site.Pages "Type" "mieuxcomprendre") ".Params.ordre" "asce" }}
									{{ if modBool $i 2}}
									{{ else }}
									<li>
										<a href="{{$e.Permalink}}">{{$e.Params.titre}}</a>
									</li>
									{{ end }}
								{{ end }}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="appointment" class="ls section_padding_top_50 section_padding_bottom_50">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					{{ .Params.contact | markdownify }}

					<form class="contact-form row columns_margin_bottom_40 topmargin_60" method="post" action="/merci" netlify name="formulaire-accueil">
						<div class="col-sm-6">
							<div class="contact-form-name">
								<label for="name">Nom
									<span class="required">*</span>
								</label>
								<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Nom">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="contact-form-email">
								<label for="email">Courriel
									<span class="required">*</span>
								</label>
								<input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Courriel">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="contact-form-subject">
								<label for="subject">Choisissez votre service
									<span class="required">*</span>
								</label>
								<select name="service" id="service" class="form-control">
									{{ $e := first 1 (where $.Site.Pages "Layout" "contact")}}
									{{ range $e }}
									{{ range .Params.services }}
									<option value="{{ . | urlize }}">{{ . }}</option>
									{{ end }}
									{{ end }}
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="contact-form-phone">
								<label for="phone">Téléphone
									<span class="required">*</span>
								</label>
								<input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Téléphone">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="contact-form-message">
								<label for="message">Message</label>
								<textarea aria-required="true" rows="3" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="contact-form-submit topmargin_20">
								<button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color1 with_shadow">{{.Params.btntext}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>
{{ end }}