<script type="application/ld+json"> { 
"@context" : "http://schema.org",
"@type" : "ProfessionalService", 
"address" : {
"@type": "PostalAddress",
"addressLocality": "Laval", 
"addressRegion": "QC", 
"postalCode": "H7P 4K7", 
"streetAddress": "3498 Boulevard Sainte-Rose, Suite 101" }, 
"name":"Clinique Tandem",
"url":"{{.Site.Params.siteaddress}}",
"email":"{{.Site.Data.settings.email}}",
"telephone":"{{.Site.Data.settings.phone}}",
"image":"{{.Site.BaseURL}}assets/images/logo.png",
"openingHours": [ 
"Mo-Fri 8:00-17:00"], 
"aggregateRating":{
"@type":"AggregateRating",
"ratingValue":"5",
"reviewCount":"12"},
"priceRange":"1",
"paymentAccepted":"Visa, Master Card"
} </script>
