{{ define "main" }}
<main class="main" id="services-indiv">
	<section class="page_breadcrumbs ds background_cover section_padding_50">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>{{ .Params.resume.titre }}</h1>
					<ol class="breadcrumb divided_content wide_divider">
						<li>
							<a href="{{ $.Site.BaseURL }}">
								Accueil
							</a>
						</li>
						<li>
							<a href="/services">Services</a>
						</li>
						<li class="active">{{ .Params.resume.titre }}</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="ls section_padding_top_50 section_padding_bottom_50">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-sm-7">
					{{ .Content }}
					{{ if .Params.removebutton }}
					{{ else }}
					<a href="/nous-joindre" class="theme_button color1" style="margin-top: 15px;">Prendre rendez-vous</a>
					{{ end }}
				</div>
				<div class="col-lg-4 col-sm-5">
					{{ if .Params.needimage }}
						{{ if .Params.image }}
							<img src="{{.Params.image}}" alt="{{ .Params.resume.titre }}" />
						{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</section>
</main>
{{ end }}