<footer class="page_footer ds section_padding_top_30 section_padding_bottom_10 columns_padding_25 columns_margin_bottom_40">
	<div class="container">

		<div class="row">

			<div class="col-md-4 col-sm-6 to_animate" data-animation="fadeInUp">

				<div class="logo_footer_media">
					<h4 class="text-uppercase">Clinique Tandem</h4>
				</div>

				<div class="media small-teaser">
					<div class="media-left">
						<i class="fa fa-map-marker highlight fontsize_16"></i>
					</div>
					<div class="media-body">
						3498 Boulevard Sainte-Rose, Suite 101, Laval  
					</div>
				</div>

				<div class="media small-teaser">
					<div class="media-left">
						<i class="fa fa-phone highlight fontsize_16"></i>
					</div>
					<div class="media-body">
						450-490-3214
					</div>
				</div>

				<div class="media small-teaser">
					<div class="media-left">
						<i class="fa fa-pencil highlight fontsize_16"></i>
					</div>
					<div class="media-body">
						<a href="mailto:info@cliniquetandem.ca">info@cliniquetandem.ca</a>
					</div>
				</div>

			</div>

			<div class="col-md-4 col-sm-6 to_animate" data-animation="fadeInUp">
				<div class="ls page_map" data-address="3498 Boulevard Sainte-Rose, Suite 101, Laval, QC, Canada" data-zoom="10">
					<!-- marker description and marker icon goes here -->
					<div class="map_marker_description">
						<h3>Clinique multidisciplinaire à Laval</h3>
						<p>Venez nous voir pour toutes vos questions concernant vos difficultés</p>
						<img class="map_marker_icon" src="/assets/images/icons/map_marker_icon.png" alt="">
					</div>
				</div>
			</div>


			<div class="col-md-4 col-sm-6 to_animate" data-animation="fadeInUp">
				<div class="widget widget_mailchimp">

					<h3 class="widget-title">Matériel Éducatif</h3>

					<form class="signup form-inline" action="./" method="get">
						<div class="form-group">
							<input name="email" type="email" class="mailchimp_email form-control" placeholder="Email">
						</div>
						<button type="submit" class="theme_button">Envoyer</button>
						<div class="response"></div>
					</form>

				</div>
				<div class="widget_text widget topmargin_30">
					<a href="#" class="social-icon color-icon border-icon rounded-icon soc-twitter"></a>
					<a href="#" class="social-icon color-icon border-icon rounded-icon soc-facebook"></a>
					<a href="#" class="social-icon color-icon border-icon rounded-icon soc-google"></a>
					<a href="#" class="social-icon color-icon border-icon rounded-icon soc-linkedin"></a>
					<a href="#" class="social-icon color-icon border-icon rounded-icon soc-pinterest"></a>
				</div>
			</div>
		</div>
	</div>

</footer>

<section class="cs main_color2 page_copyright">
	<div class="container with_top_border">
		<div class="row">
			<div class="col-sm-12 text-center">
				<p class="small-text">&copy; 2017 Clinique Tandem. Tous droits réservés</p>
			</div>
		</div>
	</div>
</section>