
			<section class="page_topline cs table_section table_section_md columns_padding_0">
				<div class="container-fluid">
					<div class="row">

						<div class="col-md-9 header-contact text-center divided_content">

							<div>
								<div class="media small-teaser">
									<div class="media-left">
										<i class="rt-icon2-phone5 highlight fontsize_16"></i>
									</div>
									<div class="media-body">
										<span class="hidden-sm hidden-xs">{{ $.Site.Data.settings.phone }}</span>
										<a href="tel:{{ $.Site.Data.settings.mphone }}" class="visible-sm visible-xs">{{ $.Site.Data.settings.phone }}</a>
									</div>
								</div>
							</div>

							<div>
								<div class="media small-teaser">
									<div class="media-left">
										<i class="fa fa-map-marker highlight fontsize_16"></i>
									</div>
									<div class="media-body">
										3498 Boulevard Sainte-Rose, Suite 101, Laval
									</div>
								</div>
							</div>

							<div>
								<div class="media small-teaser">
									<div class="media-left">
										<i class="fa fa-envelope highlight fontsize_16"></i>
									</div>
									<div class="media-body">
										<a href="mailto:{{ $.Site.Data.settings.email }}">{{ $.Site.Data.settings.email }}</a>
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-3 text-center text-md-right bottommargin_0">
							<a href="{{ if .IsHome }}#appointment{{ else }}{{$.Site.BaseURL}}nous-joindre{{ end }}" class="theme_button color1 margin_0">Prendre rendez-vous</a>
						</div>

					</div>
				</div>
			</section>

			<header class="page_header header_white table_section columns_padding_0 toggler-xs-right">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3 col-sm-5">
							<a href="{{ .Site.BaseURL }}" class="logo">
								<img src="/assets/images/logo.png" alt="clinique tandem logo">
							</a>
							<!-- header toggler -->
							<span class="toggle_menu visible-xs">
								<span></span>
							</span>
						</div>
						<div class="col-md-8 col-sm-2 text-center">
							<!-- main nav start -->
							<nav class="mainmenu_wrapper">
								<ul class="mainmenu nav sf-menu">
									<!-- <li class="active">
										<a href="/">Accueil</a>
									</li> -->
									<!-- services -->
									<li>
										<a href="{{$.Site.BaseURL}}services">Services</a>
										<ul>
											{{ range $i, $e := sort (where $.Site.Pages "Type" "services") ".Params.ordre" "asce" }}
												{{ if $e.Params.resume.titre }}
												<li>
													<a href="{{ .Permalink }}">{{ $e.Params.resume.titre }}</a>
												</li>
												{{ end }}
											{{ end }}
										</ul>
									</li>
									<!-- eof services -->
									<!-- formation -->
									<li>
										<a href="{{$.Site.BaseURL}}formations">Formations</a>
									</li>
									<!-- eof formation -->
									<li>
										<a href="#nothing">Ressources</a>
										<ul>
											<li>
												<a href="{{$.Site.BaseURL}}ressources/liens-utiles">Liens utiles</a>
											</li>
											<li>
												<a href="#nothing">Mieux comprendre</a>
												<ul id="sous-menu">
													{{ range sort (where $.Site.Pages "Type" "mieuxcomprendre") ".Params.ordre" "asce" }}
													<li>
														<a href="{{.Permalink}}">{{.Params.titre}}</a>
													</li>
													{{ end }}
												</ul>
											</li>
											<li>
												<a href="{{$.Site.BaseURL}}ressources/foire-aux-questions">Foire aux questions</a>
											</li>
										</ul>
									</li>
									<!-- eof ressources -->
									<!-- eof equipe -->
									<li>
										<a href="#nothing">Équipe</a>
										<ul>
											<!-- notre equipe -->
											<li>
												<a href="{{$.Site.BaseURL}}equipe">Notre équipe</a>
											</li>
											<!-- eof notre equipe -->
											<!-- carrieres -->
											<li>
												<a href="{{$.Site.BaseURL}}carrieres">Carrières</a>
											</li>
											<!-- eof carrieres -->
										</ul>
									</li>
									<!-- eof equipe -->
									<!-- a-propos -->
									<li>
										<a href="{{$.Site.BaseURL}}a-propos">À propos</a>
									</li>
									<!-- eof a-propos -->
									<!-- contacts -->
									<li>
										<a href="{{$.Site.BaseURL}}nous-joindre">Nous joindre</a>
									</li>
									<!-- eof contacts -->
								</ul>
							</nav>
							<!-- eof main nav -->
							<span class="toggle_menu hidden-xs">
								<span></span>
							</span>
						</div>
						<div class="col-md-1 col-sm-5 text-right hidden-xs lightgreylinks">
							<div class="page_social_icons divided_content">
								{{with .Site.Data.settings.socials.twitterhandle}}
								<span>
									<a class="color-icon border-icon rounded-icon social-icon soc-twitter" href="{{.}}" title="Twitter" target="_blank"></a>
								</span>
								{{end}}
								{{with .Site.Data.settings.socials.facebookurl}}
								<span>
									<a class="social-icon color-icon border-icon rounded-icon soc-facebook" href="{{.}}" title="Facebook" target="_blank"></a>
								</span>								
								{{end}}
								{{with .Site.Data.settings.socials.linkedinurl}}
								<span>
									<a class="color-icon border-icon rounded-icon social-icon soc-linkedin" href="{{.}}" title="LinkedIn" target="_blank"></a>
								</span>
								{{end}}
								{{with .Site.Data.settings.socials.googleurl}}
								<span>
									<a class="color-icon border-icon rounded-icon social-icon soc-google" href="{{.}}" title="Google" target="_blank"></a>
								</span>
								{{end}}
							</div>
						</div>
					</div>
				</div>
			</header>
