<head>
{{- partial "head/noindex.html" . -}}
{{- partial "head/metadata-standard.html" . -}}
{{- partial "head/metadata-opengraph.html" . -}}
{{- partial "head/metadata-prefetch.html" . -}}
{{- partial "head/metadata-schemaorg.html" . -}}
{{- partial "head/metadata-favicons.html" . -}}
{{- partial "head/site-style.html" . -}}
<script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
{{ `<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]--> ` | safeHTML }}
</head>