backend:
  name: github
  repo: felixdb/clinique-tandem # Path to your Github repository
  branch: development # Branch to update (master by default)

media_folder: "themes/clinique-tandem/static/assets/images/uploads" # Folder where user uploaded files should go
public_folder: "/assets/images/uploads" # The src attribute for uploaded media will begin with

publish_mode: editorial_workflow

collections:
  - name: "settings"
    label: "Settings"
    editor:
      preview: false
    files:
      - name: "informations"
        label: "Informations sur l'entreprise"
        file: "data/settings.yml"
        description: "Modification des informations sur l'entreprise"
        fields:
          - name: socials
            label: Réseaux sociaux
            widget: object
            description: "Si le champ est vide, l'icône n'apparaitra pas."
            create: false
            fields:
              - {label: "Facebook", name: "facebookurl", widget: "string", required: false}
              - {label: "Twitter", name: "twitterurl", widget: "string", required: false}
              - {label: "Youtube", name: "youtubeurl", widget: "string", required: false}
              - {label: "LinkedIn", name: "linkedinurl", widget: "string", required: false}
          - {label: "Numéro de téléphone", name: "phone", widget: "string"}
          - {label: "Numéro de téléphone, version web", name: "mphone", widget: "string", description: "Gardez le même format"}
          - {label: "Courriel", name: "email", widget: "string"}
          - {label: "Description par défaut du site", name: "sitedescription", widget: "string", description: "Utilisez moins de 160 caractères", required: false}
          - {label: "Image par défaut pour les réseaux sociaux", name: "defaultsocialimage", widget: "image", required: false}
          - {label: "Retirer des moteurs de recherche", name: "removefromexternalsearch", widget: "boolean", required: false, default: false}
      - name: "equipe"
        label: "Membres de l'équipe"
        file: "data/equipe.yml"
        description: "Votre équipe, ne pas mettre d'accent dans les noms de fichier svp!"
        fields:
          - name: equipe
            label: Membre
            widget: list
            create: true 
            fields:
              - {label: "Nom", name: "nom", widget: "string"}
              - {label: "Titre", name: "titre", widget: "string"}
              - {label: "Description", name: "description", widget: "text", required: false}
              - {label: "Image", name: "photo", widget: "image", default: "/assets/images/placeholder-team.jpeg"}
              - {label: "Ordre", name: "ordre", widget: "number", required: false}
  - name: "services" # Used in routes, e.g. /admin/collections/blog
    label: "Services" # Used in the UI
    folder: "content/services" # The path to the folder where the documents are stored
    slug: "{{identifiant}}"
    create: true # Allow users to create new documents in this collection
    editor:
      preview: false
    filter: 
      field: "i18nlanguage"
      value: "fr"
    fields: # The fields for each document, usually in front matter
      - {label: "Titre SEO", name: "title", widget: "string"}
      - {label: "Description SEO", name: "description", widget: "text", required: false}
      - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
      - {label: "Identifiant", name: "identifiant", default: "04-exemple-article", pattern: ["^[a-z0-9]+(?:-[a-z0-9]+)*$", "Svp utilisez le format 04-exemple-article"], widget: "string"}
      - label: "Aperçu" 
        name: "resume" 
        widget: "object" 
        fields:
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Description", name: "court", widget: "string"}
      - {label: "Image", name: "image", widget: "image" ,required: false}
      - {label: "Langue", name: "i18nlanguage", widget: "hidden", default: "fr"}
      - {label: "Retirer le bouton?", name: "removebutton", widget: "boolean", required: false, default: false}
      - {label: "Ordre", name: "ordre", widget: "number", required: false}
      - {label: "Rendre le service invisible?", name: "draft", widget: "boolean", required: false, default: false}
      - {label: "Texte", name: "body", widget: "markdown", required: false}
  - name: "formations" # Used in routes, e.g. /admin/collections/blog
    label: "Formations" # Used in the UI
    folder: "content/formations" # The path to the folder where the documents are stored
    slug: "{{identifiant}}"
    editor:
      preview: false
    create: true # Allow users to create new documents in this collection
    filter: 
      field: "i18nlanguage"
      value: "fr"
    fields: # The fields for each document, usually in front matter
      - {label: "Titre SEO", name: "title", widget: "string"}
      - {label: "Description SEO", name: "description", widget: "text", required: false}
      - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
      - {label: "Identifiant", name: "identifiant", default: "04-exemple-article", pattern: ["^[a-z0-9]+(?:-[a-z0-9]+)*$", "Svp utilisez le format 04-exemple-article"], widget: "string"}
      - {label: "Image", name: "image", widget: "image"}
      - label: "Aperçu" 
        name: "resume" 
        widget: "object" 
        fields:
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Note", name: "note", widget: "string"}
          - {label: "Brandcrumbs - Titre", name: "btitre", widget: "string"}
      - label: "Lieu" 
        name: "lieu" 
        widget: "object" 
        fields:
          - {label: "Visible?", name: "need", widget: "boolean", required: false, default: true}
          - {label: "Texte du lien", name: "text", widget: "string", required: false}
          - {label: "Lien", name: "link", widget: "string", required: false}
      - label: "Lien ressources" 
        name: "toplink" 
        widget: "object" 
        fields:
          - {label: "Visible?", name: "need", widget: "boolean", required: false, default: true}
          - {label: "Texte du lien", name: "text", widget: "string", required: false}
          - {label: "Lien", name: "link", widget: "string", required: false}
      - label: "Professeurs" 
        name: "teacher" 
        create: true
        widget: "list" 
        fields:
          - {label: "Image", name: "timage", widget: "image"}
          - {label: "Description", name: "tdesc", widget: "string"} 
      - label: "Ressources - Sidebar" 
        name: "ressources" 
        widget: "object" 
        fields:
          - {label: "Visible?", name: "need", widget: "boolean", required: false, default: false}
          - {label: "Texte", name: "text", widget: "markdown", required: false}
      - {label: "Langue", name: "i18nlanguage", widget: "hidden", default: "fr"}
      - {label: "Ordre", name: "ordre", widget: "number", required: false}
      - {label: "Rendre le service invisible?", name: "draft", widget: "boolean", required: false, default: false}
      - {label: "Texte", name: "body", widget: "markdown", required: false}
  - name: "mieux-comprendre" # Used in routes, e.g. /admin/collections/blog
    label: "Sujets du mieux-comprendre" # Used in the UI
    folder: "content/ressources/mieux-comprendre" # The path to the folder where the documents are stored
    slug: "{{identifiant}}"
    editor:
      preview: false
    create: true # Allow users to create new documents in this collection
    filter: 
      field: "i18nlanguage"
      value: "fr"
    fields: # The fields for each document, usually in front matter
      - {label: "Titre SEO", name: "title", widget: "string"}
      - {label: "Description SEO", name: "description", widget: "text", required: false}
      - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
      - {label: "Identifiant", name: "identifiant", default: "04-exemple-article", pattern: ["^[a-z0-9]+(?:-[a-z0-9]+)*$", "Svp utilisez le format 04-exemple-article"], widget: "string"}
      - {label: "Titre", name: "titre", widget: "string"}
      - {label: "Image", name: "image", widget: "image", required: false}
      - {label: "Langue", name: "i18nlanguage", widget: "hidden", default: "fr"}
      - {label: "Type", name: "type", widget: "hidden", default: "mieuxcomprendre"}
      - {label: "Ordre", name: "ordre", widget: "number", required: false}
      - {label: "Rendre le service invisible?", name: "draft", widget: "boolean", required: false, default: false}
      - {label: "Texte", name: "body", widget: "markdown", required: false}
  - name: "pages"
    label: "Pages"
    editor:
      preview: false
    files:
      - name: "accueil"
        label: "Accueil"
        file: "content/_index.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Image", name: "image", widget: "image", required: false}
          - label: "Image du haut" 
            name: "slider" 
            widget: "object" 
            fields:
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Texte", name: "quote", widget: "markdown"}
          - {label: "Services - Titre", name: "servicestitle", widget: "string"}
          - {label: "À propos - Gauche", name: "aboutleft", widget: "markdown"}
          - {label: "À propos - Droite", name: "aboutright", widget: "markdown"}
          - {label: "Contact - Entête", name: "contact", widget: "markdown"} 
          - {label: "Texte du bouton", name: "btntext", widget: "string"}  
      - name: "services"
        label: "Services"
        file: "content/services/_index.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Root page", name: "rootPage", widget: "hidden", default: "true"}
          - {label: "Image", name: "image", widget: "image", required: false}
      - name: "formations"
        label: "Formations"
        file: "content/formations/_index.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Image", name: "image", widget: "image", required: false}
          - {label: "Texte", name: "body", widget: "markdown", required: false}
      - name: "a-propos"
        label: "À propos"
        file: "content/singles/a-propos.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
          - {label: "Layout", name: "layout", widget: "hidden", default: "a-propos"}
          - {label: "Image", name: "image", widget: "image", required: false}
          - {label: "Texte", name: "body", widget: "markdown", required: false}
      - name: "equipe"
        label: "Équipe"
        file: "content/singles/equipe.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
          - {label: "Layout", name: "layout", widget: "hidden", default: "equipe"}
          - {label: "Image", name: "image", widget: "image", required: false}
      - name: "liens-utiles"
        label: "Liens utiles"
        file: "content/ressources/liens-utiles.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
          - {label: "Layout", name: "layout", widget: "hidden", default: "liens-utiles"}
          - {label: "Image", name: "image", widget: "image", required: false}
          - {label: "Texte", name: "body", widget: "markdown", required: false}
      - name: "faq"
        label: "FAQ"
        file: "content/ressources/faq.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
          - {label: "Layout", name: "layout", widget: "hidden", default: "faq"}
          - {label: "Image", name: "image", widget: "image", required: false}
          - {label: "Texte", name: "body", widget: "markdown", required: false}
      - name: "contact"
        label: "Page contact"
        file: "content/singles/contact.md"
        fields:
          - {label: "Titre SEO", name: "title", widget: "string"}
          - {label: "Description SEO", name: "description", widget: "text", required: false}
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Lien", name: "slug", widget: "string", default: "ceci-est-un-example", pattern: ["^[a-z0-9]+(?:-[a-z0-9/]+)*$", "Svp utilisez le format ceci-est-un-test"]}
          - {label: "Layout", name: "layout", widget: "hidden", default: "contact"}
          - {label: "Heures d'ouverture", name: "heures", widget: "string"}
          - {label: "Services - Menu déroulant", name: "services", widget: "list"}
          - {label: "Image", name: "image", widget: "image", required: false}