.container-fluid {
	max-width: 1800px;
}
.sf-menu #sous-menu a {
	padding: 3px 0;
}
/* Accueil */
#homepage .intro_section .slide_description_wrapper {
	height: 75%; 
	top: inherit; 
	right: 50px;
}
.slide_description {
	.intro-layer {
		p.grey {
			font-family: 'Muli';
			font-weight: 400;
			width: 400px;
			text-transform: none;
			font-size: 25px;
			i.fa-quote-left {
				font-size: 3rem; 
				padding-right: 30px
			}
			i.fa-quote-right {
				font-size: 3rem;
				padding-left: 30px;
			}
			span {
				font-size: 30px; 
				font-weight: 700;
			}
		}
	}
}

#services {
	h1.section_header {
		font-size: 42px;
	}
	.services-container {
		div.services {
			-webkit-transition: 0.5s background-color;
			-moz-transition: 0.5s background-color;
			-ms-transition: 0.5s background-color;
			-o-transition: 0.5s background-color;
			transition: 0.5s background-color;
			h4, a {
				color: #444444;
				-webkit-transition: none;
				-moz-transition: none;
				-ms-transition: none;
				-o-transition: none;
				transition: none;
			}
		}
		div.services:nth-child(2n+1):hover {
			background-color: $pcolor;
			h4, a, p {
				color: white;
			}
		}
		div.services:nth-child(2n):hover {
			background-color: $scolor;
			color: black;
			h4, a, p {
				color: black
			}
		}
	}
}
#about {
	background-color: $scolor;
	.about-left,
	.about-right {
		padding-right: 25px;
		padding-left: 25px;
		h2,h3,h4 {
			margin: 10px 0 24px;
    		font-size: 38px;
    		text-align: center
		}
		p {
			font-size: 18px;
			text-align: justify;
		}
	}
}

#appointment {
	h2, h3, h4 {
		font-size: 36px;
		color: $pcolor;
		margin-bottom: 20px
	}
}
/* Services */
ul.specialisations {
	list-style-type: none;
	li {
		z-index: 10;
		&:before {
			content: url('/assets/images/icons/point-bleu.png');
			margin-right: -20px;
			z-index: 1;
		}
	}
}
#services-indiv {
	p {
		font-size: 16px;
	}
	h2, h3 {
		&:after {
			content: " ";
			width: 30px;
			height: 0;
			border-top: solid 1px #ddd;
			margin-top: 20px;
			display: block;
		}
	}
	h1 {
		margin-bottom: 20px;
		display: block;
	}
	ul li {
		font-size: 16px;
		list-style-type: none;
	}
}

#homepage #services {
	// .text-center {
	// 	text-align: left;
	// }
	.section_header {
		padding-left: 25px;
	}
}

/* Formations */
#formations-list {
	.formations-container {
		margin-top: 30px;
	}
	.formations-block {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
		}
		h4 {
			color: white;
		    position: absolute;
		    margin: 0;
		    top: 50%;
		    left: 50%;
		    z-index: 10;
		    transform: translate(-50%, -50%);
		    word-break: keep-all;
		}
		.overlay {
			background-color: rgba(0,0,0,0.3);
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    z-index: 5;
		    top: 0;
		    left: 0;
		    -webkit-transition: 0.4s;
		    -moz-transition: 0.4s;
		    -ms-transition: 0.4s;
		    -o-transition: 0.4s;
		    transition: 0.4s;
		}
		p.note {
			position: absolute;
			top: 150%;
			opacity: 0.5;
			color: white;
			font-size: 16px;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-ms-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
			text-align: center;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			margin: 0;
		}
		&:hover {
			.overlay {
				background-color: rgba(0,0,0,0.5);
			}
			p.note {
				opacity: 1;
				top: 80%;
			}
		}
	}
}

#formations-indiv {
	.vertical-item.content-padding .item-content {
		padding-top: 30px;
	}
	.formations-contenu {
		h3 {
			margin-top: 30px;
			margin-bottom: 10px;
		}
		h6 {
			margin-bottom: 30px;
		}
	}
	.teacher {
		img {
			width: 80%;
			margin: 40px auto 20px;
			border-radius: 3px;
		}
		&:nth-of-type(10n+1) {
			img {
				margin-top: 0;
			}
		}	
	}
}

/* Equipe */

#equipe {
	#equipe-list {
		.row {
			display: -webkit-box; 
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex; 
			display: flex;
			-webkit-box-wrap: wrap;
			-moz-box-wrap: wrap;
			-ms-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			*:nth-child(3n) {
				clear: left;
			}
		}
		.equipe-block {
			margin-bottom: 50px;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-ms-transition: 0.5s;
			-o-transition: 0.5s;
			transition: 0.5s;
			-webkit-flex-basis: 33%;
			-ms-flex-preferred-size: 33%;
			flex-basis: 33%;
			img {
				max-width: 300px;
				border-radius: 5px;
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-ms-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;
			}
			div.img {
				height: 300px;
				position: relative;
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-ms-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;
				max-width: 300px;
				margin: auto;
				background-size: cover;
				background-position: center top;
				div.overlay {
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    z-index: 5;
				    top: 0;
				    left: 0;
				    -webkit-transition: 0.4s;
				    -moz-transition: 0.4s;
				    -ms-transition: 0.4s;
				    -o-transition: 0.4s;
				    transition: 0.4s;
				}
				.description {
					text-align: left;
					max-width: 80%;
					margin: auto;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
					opacity: 0;
					color: white;
					z-index: 10;
					position: absolute;
				    top: 30px;
				    left: 10%;
				}
			}
			&:hover {
				div.img {
					height: 600px;
					div.overlay {
						background-color: rgba(0,164,199,0.73);
					}
					.description {
						opacity: 1;
					}
				}
			}
		}
	}
}
/* Liens utiles */

#liens-utiles {
	#liens-texte {
		h4 {
			&:after {
				content: " ";
				width: 30px;
				height: 0;
				border-top: solid 1px #ddd;
				margin-top: 20px;
				display: block;
			}
			&:before {
				content: url('/assets/images/icons/point-bleu.png');
				margin-right: -20px;
				z-index: 1;
			}
		}
		ul {
			list-style-type: none;
		}
	}
}
/* Mieux comprendre */

#comprendre-indiv {
	#comprendre-texte {
		ul {
			list-style-type: none;
			li {
				z-index: 10;
				position: relative;
    			padding: 3px 0 3px 0;
				&:before {
					content: '';
				    display: block;
				    width: 5px;
				    height: 5px;
				    background-color: #00A4C7;
				    position: absolute;
				    left: -18px;
				    top: 15px;
				}
			}
		}
	}
}
/* Media Queries */
@media (max-width: 991px) {
	.section_padding_bottom_100>[class*="container"] {
		padding-bottom: 50px;
	}
	#homepage #services {
		.text-center {
			text-align: center;
		}
		.section_header {
			padding-left: 0;
		}
	}
	ol.breadcrumb {
		display: none;
	}
	a.logo {
		padding: 10px 0;
	}
	#about .text-right.specialisations {
		text-align: left;
		ul.specialisations {
			padding-left: 0;
		}
	}
}
@media (max-width: 1199px) {
	#equipe {
		#equipe-list {
			.row {
				*:nth-child(2n) {
					clear: left;
				}
				.equipe-block {
					-webkit-flex-basis: 49%;
					-ms-flex-preferred-size: 49%;
					flex-basis: 49%;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	#equipe {
		#equipe-list {
			.row {
				*:nth-child(n) {
					clear: left;
				}
				.equipe-block {
					-webkit-flex-basis: 100%;
					-ms-flex-preferred-size: 100%;
					flex-basis: 100%;
				}
			}
		}
	}
}