{{ define "main" }}
<main class="main" id="carrieres">
  <section class="page_breadcrumbs ds background_cover section_padding_50">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>{{ .Params.titre }}</h1>
          <ol class="breadcrumb divided_content wide_divider">
            <li>
              <a href="{{ $.Site.BaseURL }}">
                Accueil
              </a>
            </li>
            <li class="active">{{ .Params.titre }}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section id="comprendre-texte" class="ls section_padding_top_50 section_padding_bottom_100">
    <div class="container">
      <div class="row columns_padding_0 columns_margin_0 fontsize_16 text-left">
        {{ .Content}}
      </div>
      {{with .Site.Data.carrieres.carrieres}}
      <div class="row columns_padding_0 columns_margin_0 fontsize_16 text-left">
        <div class="carrieres">
          <div class="expand-group" id="accordion" role="tablist" aria-multiselectable="true">
            {{range $key, $val := .}}
            <div class="expand-panel">
              <div role="tab" id="heading-{{$key}}">
                <a class="expand-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{$key}}" aria-expanded="false" aria-controls="collapse-{{$key}}">
                  <i class="fa"></i>
                  <span><strong>{{.position}}</strong></span>
                </a>
                <div id="collapse-{{$key}}" class="expand-body collapse" role="tabpanel" aria-labelledby="heading-{{$key}}">
                  <div class="expand-content">{{.description | markdownify}}</div>
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </section>
  <style type="text/css">
    .carrieres {
      margin-top: 35px;
    }

    .expand-panel {
      margin-bottom: 10px;
    }

    .expand-head {
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 18px;
      background-color: #f6f6f6;
    }

    .expand-head > i {
      color: #444444;
    }

    .expand-head > span {
      margin-left: 20px;
    }

    .expand-head:hover > span {
      color: #00a4c7;
    }

    .expand-content {
      padding: 20px;
    }

    [data-toggle="collapse"] i:before{
      content: "\f068";
    }

    [data-toggle="collapse"].collapsed i:before{
      content: "\f067";
    }
  </style>
</main>
{{ end }}
