{{ define "main" }}
<main class="main" id="equipe">
	<section class="page_breadcrumbs ds background_cover section_padding_50">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>{{ .Params.titre }}</h1>
					<ol class="breadcrumb divided_content wide_divider">
						<li>
							<a href="{{ $.Site.BaseURL }}">
								Accueil
							</a>
						</li>
						<li class="active">Notre équipe</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section id="equipe-list" class="ls section_padding_top_50 section_padding_bottom_100">
		<div class="container">
			<div class="row columns_padding_20 columns_margin_0 fontsize_16 text-center">
				{{ range $i, $e := sort $.Site.Data.equipe.equipe "ordre" "asce"}}
					{{ $mod1 := modBool $i 1}}
					{{ $mod2 := modBool $i 2}}
					{{ $mod3 := modBool $i 3}}
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 equipe-block">
						<div class="img" style="background-image:url('{{$e.photo}}');">
							<div class="overlay"></div>
							<p class="description">{{$e.description}}</p>
						</div>
						<!-- <img src="{{$e.photo}}" alt="{{$e.nom}}"> -->
						<h5>{{$e.nom}}</h5>
						<p class="titre">{{$e.titre}}</p>
					</div>
				{{ end }}
			</div>
		</div>
	</section>
</main>
{{ end }}